$imageWidth: 360px;

body {
  padding-top: 50px;
  .logo-container {
    img {
      display: block;
      margin: auto;
    }
  }
  .rounded-circle {
    width: $imageWidth;
    height: $imageWidth;
  }
}
